:root{

    --colorBackground: #0B0E14;
    --colorBorder: #171E2B;
    --userColor: #0E1F2B;
    --hover: #131924;
    
    --color-textLeasson: #22a9c7;
    --color-title: #ebede3;
    --color-text: #bfbfbf;
    
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Feather Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Feather Bold'), url('./font/feather_bold_by_typicalbro44_dee263c.woff') format('woff');
    }

main{
    width: 100vw;
    height: 100vh;
    background: url(./img/background-home.svg) no-repeat;
    background-size: 100%;
}

/* MENU START  */

main header #menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    width: 100%;
}

main header #menu #logo{
    padding-left: 2vw;
    font-size: 28px;
}

main header #menu ul{
    display: flex;
    list-style: none;
    padding-right: 3vw;
    padding-top: 1vh;
}

main header #menu ul li{
    font-family: 'Feather Bold';
    padding-left: 50px;
}

main header #menu ul li a{
    color: #fff;
    border-bottom: 2px solid transparent;
}

main header #menu ul li a:hover{
    border-bottom: 2px solid var(--color-textLeasson);
}

/* MENU ENDS  */


/* MAIN START  */
main #home{
    width: 100%;
    height: calc(100% -50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main #home div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#night-lingo{
    width: 200px;
    height: 200px;
    transition: 1s;
}

#night-lingo:hover{
    transform: scale(1.2);
}

div h1{
    font-family: 'Feather Bold';
    font-style: normal;
    font-weight: bold;
    color: var(--colorBackground);   
}

.lingo{
    font-size: 62px;
}

div h1 .blue-span{
    color: var(--color-textLeasson);
}

.box-home{
    width: 400px;
}

.p-top{
    padding-top: 55vh;
    padding-left: 2vw;
}

.p-bottom{
    padding-bottom: 25vh;
    padding-right: 3vw;
}

.box-home .title-home{
    font-size: 34px;
    color: var(--color-title);
    padding-bottom: 10px;
}

.box-home .text-home{
    font-size: 18px;
    color: var(--color-text);
    font-family: 'Nunito', sans-serif;
    width: 95%;
}
/* MAIN ENDS  */

/* TUTORIAL STARTS  */
#tutorial{
    width: 100vw;
    height: 1460px;
    margin-bottom: 80px;
}

#wave-tutorial{
    width: 100vw;
    height: 560px;
    background: url(./img/wave-haikei.svg) no-repeat;
    background-size: 100%;
}

.title-tutorial{
    color: #fff;
    font-size: 48px;
    text-align: center;
    padding-top: 120px;
}

#container-tutorial{
    width: 100vw;
    height: 800px;
}

.box-tutorial{
    width: 100%;
    height: 50%;
    display: flex;
}

.box-tutorial .box{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-tutorial .box .title-box{
    padding-bottom: 20px;
    font-size: 28px;
}

.box-tutorial .box ul li{
    font-size: 18px;
    width: 65%;
    margin: auto;
    font-family: 'Nunito';
    font-weight: 600;
    color: var(--colorBorder);
    padding-bottom: 20px;
}

.box-tutorial .box ul li .chrome{
    color: var(--colorBorder);
    font-weight: 700;
    border-bottom: 2px solid var(--color-textLeasson);
}

.box-tutorial .box ul li .chrome:hover{
    color: var(--color-textLeasson);
    border-bottom: 2px solid var(--colorBorder);
}

.box-tutorial .box ul li .firefox{
    color: var(--colorBorder);
    font-weight: 700;
    border-bottom: 2px solid orangered;
}

.box-tutorial .box ul li .firefox:hover{
    color: orangered;
    border-bottom: 2px solid var(--colorBorder);
}


img{
width: 100%;
height: 100%;
}


/* comparison section */

#comparison{
    width: 100vw;
    height: 1200px;
    margin-bottom: 200px;
}

.title-comparison{
    text-align: center;
    font-size: 32px;
    font-family: 'Feather Bold';
}

#comparison .img-comparison{
    width: 80%;
    height: 70%;
    transition: .3s;
}

#comparison .img-comparison:hover{
    transform: scale(1.1);
}

/* footer  */

#footer{
    /* background-color: var(--colorBorder); */
    width: 100vw;
    height: 500px;
}

#background-footer{
    width: 100%;
    height: 50%;
    background: var(--colorBorder);
}

/* wave footer  */
.custom-shape-divider-top-1637186666 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1637186666 svg {
    position: relative;
    display: block;
    width: calc(170% + 1.3px);
    height: 311px;
}

.custom-shape-divider-top-1637186666 .shape-fill {
    fill: #FFFFFF;
}
/* end wave footer  */

#footer .links{
    width: 100vw;
    height: 50%;
    background: var(--colorBorder);
    display: flex;
    justify-content: space-around;
}

#footer h2{
    color: var(--color-title);
    padding: 20px 0;
    font-family: 'Feather Bold';
}

#footer .useful{
    display: flex;
    flex-direction: column;
}

#footer .useful a{
    color: var(--color-text);
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-family: 'Nunito';
    font-weight: 600;
}

#footer .useful a:hover{
    color: var(--color-textLeasson);
    border-bottom: 2px solid var(--color-text);
}

#footer .social a{
    padding: 10px;  
}

#footer .social a svg{
    transition: .5s;
}

#footer .social a svg:hover{
    transform: scale(1.2);
}

/* end footer  */





@media screen and (min-width: 1500px){
    #wave-tutorial{
        height: 660px;
    }
}